# Mac noise
.DS_Store
*/.DS_Store

# Python noise
__pycache__/*
*/__pycache__/*

# Data
cnn/photos/*
rcnn/videos/*
*.zip
*/*.zip

# Training data
cnn/bottleneck/*/*
cnn/inception/*
cnn/retrained_graph.pb
cnn/retrained_labels.txt
rcnn/cnn/*

test/
test/*/*