= react_component('VideoCallApp', { credentials: { apiKey: '46178502', sessionId: '2_MX40NjE3ODUwMn5-MTUzNzMwMzkzMzcyOH5XSElWQUpQWW5qNjc4alpqU2YwQlpvWGh-UH4', token: 'T1==cGFydG5lcl9pZD00NjE3ODUwMiZzaWc9M2Q1OWZhNGUxZGE2OTkxYWY1ZGMyNDM5YWNlNzFmMjQxNjg1MTM4MzpzZXNzaW9uX2lkPTJfTVg0ME5qRTNPRFV3TW41LU1UVXpOek13TXprek16Y3lPSDVYU0VsV1FVcFFXVzVxTmpjNGFscHFVMll3UWxwdldHaC1VSDQmY3JlYXRlX3RpbWU9MTUzNzMwMzk3NSZub25jZT0wLjk0MzgyOTc0MDA4NjI0MTImcm9sZT1wdWJsaXNoZXImZXhwaXJlX3RpbWU9MTUzOTg5NTk3NCZpbml0aWFsX2xheW91dF9jbGFzc19saXN0PQ==' } })
