= react_component('VideoCallApp', { credentials: { apiKey: '46178502', sessionId: '1_MX40NjE3ODUwMn5-MTUzNjA5NDgwNDcwOH45WGVyemFkOHFyd3lzc2N6aWoxRTBURWh-fg', token: 'T1==cGFydG5lcl9pZD00NjE3ODUwMiZzaWc9ODU1NWE4YWNmMmU4N2Y4MjI1MTQ4MGE3N2U4NThhMzRiY2JjYWRiODpzZXNzaW9uX2lkPTFfTVg0ME5qRTNPRFV3TW41LU1UVXpOakE1TkRnd05EY3dPSDQ1V0dWeWVtRmtPSEZ5ZDNsemMyTjZhV294UlRCVVJXaC1mZyZjcmVhdGVfdGltZT0xNTM2MDk0ODE2Jm5vbmNlPTAuMjI3NTMxNzA5MTk1NzE1NDEmcm9sZT1wdWJsaXNoZXImZXhwaXJlX3RpbWU9MTUzODY4NjgxNSZpbml0aWFsX2xheW91dF9jbGFzc19saXN0PQ==' } })
